PP_HOST=127.0.0.1
PP_PORT=3000
PP_ALLOWED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173
PP_MAX_PARTICIPANTS=20
PP_MAX_HTTP_BUFFER_BYTES=100000
PP_ROOM_TTL_MS=3600000
PP_CLEANUP_INTERVAL_MS=60000
PP_SESSION_TTL_MS=120000
PP_RECOVERY_MAX_DISCONNECTION_MS=120000
